html,
body {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: #222;
	font-size: 14px;
}

body {
	padding-top: 60px;	
}

input,
textarea,
select {
	color: #444;
}

input,
textarea {
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

input[type='text'],
input[type='password'],
input[type='url'],
input[type='email'],
textarea {
	width: 450px;
}

input[type='number'] {
	width: 50px;
}

textarea {
	height: 110px;
}

h1,
h2, 
h3, 
h4 {
	color: #3f3f3f;
	text-shadow: 1px 1px 0 #ddd;
	font-weight: bold;
	line-height: 26px;
	margin: 5px 0;
}

h1 {
	font-size: 22px;
}

h2 {
	font-size: 18px;
	border-bottom: 1px solid #ccc;
}

a {
	color: #4183C4;
}

li {
	color: #222;
}

code {
	background-color: transparent;
	padding: 0;
}

em {
    font-family: 'Consolas', 'Courier New', Courier, monospace;
    font-style: normal;
	font-size: 12px;
}

code,
pre {
	font-family: 'Consolas', 'Courier New', Courier, monospace;
	background-color: #ffffe0;
	color: #222;
}

.topbar {
	background: #4183c4;
	background: gradient(linear, left top, left bottom, from(#4183c4), to(#47608f));
	background: -moz-linear-gradient(top, #4183c4, #47608f);
	background: -webkit-gradient(linear, left top, left bottom, from(#4183c4), to(#47608f));
	height: 60px;
}

.topbar div ul {
	position: absolute;
	right: 0;
	left: auto;
	margin-top: 15px;
}

.topbar div > ul a {
	padding: 5px 10px 6px;
	text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 1px;
}

.topbar div > ul .active > a {
	background-color: rgba(255, 255, 255, 0.07);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.topbar a {
	color: #e5e5e5;
}

.topbar a.brand {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 38px;
	font-weight: bold;
	text-shadow: #333 1px 1px 1px;
	text-decoration: none;
}

.topbar a.brand:hover {
	text-decoration: none;
}

.breadcrumbs {
	background-color: #eee;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	height: 38px;
}

.breadcrumbs ul {
	margin: 0;
	padding: 10px 0;
}

.breadcrumbs li {
	display: inline;
	text-shadow: 0 1px 0 #ffffff;
}

.breadcrumbs .divider {
	padding: 0 5px;
	color: #bfbfbf;
}

.home a.btn {
	font-size: 28px;
	padding: 12px 20px;
	margin-left: 40px;
	margin-top: -10px;
}

.home .columns {
	margin-top: 10px;
}

p {
	line-height: 20px;	
	font-size: 14px;
}

#footer {
	color: #666;
	font-size: 12px;
	margin-top: 40px;
	padding: 10px 0 40px;
	border-top: 1px solid #e4e4e4;
	background: #fff;
	background: gradient(linear, left top, left bottom, from(#eee), to(#fff));
	background: -moz-linear-gradient(top, #eee, #fff);
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
}

#footer ul {
	position: absolute;
	right: 0;
	display: inline;
}

#footer ul li {
	display: inline;
	padding: 0 5px;
}

#footer ul li a {
	color: #666;
}

.container {
	position: relative;
}

dl.list dd,
dl.list dt {
	margin: 0;
	line-height: 22px;
}

dl.list dt {
	padding-top: 10px;
}

dl.list dt a {
	font-weight: bold;
}

dl.list dd {
	border-bottom: 1px solid #ddd;
	font-style: italic;
	padding-bottom: 10px;
}

dl.list dd.last {
	border-bottom: 0;
}

.content {
	margin-bottom: 10px;
}

.input .text {
	padding: 5px;
	line-height: 18px;	
}

.input .text p {
	line-height: 18px;	
}

form .clearfix {
	margin-bottom: 10px;
}

.actions {
	border: 0;
	margin: 0;
	background-color: transparent;
}

ul.alert-message {
	margin-left: 0;	
}

.alert-message li {
	color: #fff;
	list-style-type: none;
}
